/*
    lrstyle.css - LR, December 2017

    [primary color theme:
        #d34f21,    (orange, emph)
        #5d9fb0,
        #187795,    (emph blue, CL color)
        #c5d4d7,
        #a42604     (red)
    ]
*/


/* ----------------------------------------------------------------------*/
/*  GENERAL SETTINGS  */

.reveal section{
  width : 1364px !important;
  height: 1024px !important;
  /*width: 100%;
  height: 100%;*/

  /*border-style: dashed;*/
  /*border-width: 2px;*/
}

.light {
  color: #ffffff !important;
}

.emph {
  color: #d34f21;
}
.emph_blue{
  color: #187795;
}
.emph_red{
  color: #a42604 ;
}
.emph_bold{
  font-weight: bold !important;
}
.emph_it{
  font-style: italic !important;
}
.emph_large{
  font-size: 60px !important;
}
.ctr_header{
  width: 100%;
  text-align: center !important;
  margin-left: -8% !important;
}
.ctr{
  width: 100%;
  text-align: center !important;
}
.clr {
  clear: both !important;
}

.reveal section p {
  display: block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.reveal li{
  margin-bottom: 20px;
}
.reveal ul li{
  list-style-type: square;
}
.reveal ol li{
  list-style-type: lower-roman;
}
.reveal section img {
    border: 0px;
    box-shadow: none;
}

/* References */
.reveal section .refs{
  font-size: 20px !important;
  color: #5d9fb0 !important;
  font-weight: bold;
  text-align: left;
}
.reveal section .refs .ref_prep{
  font-style: italic !important;
}
/* ----------------------------------------------------------------------*/



/* ----------------------------------------------------------------------*/
/* FLEX SLIDE */
.reveal section .flexer{
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.reveal section .flex_header{
  margin-bottom: 50px;
  width: 100%;
}
.reveal section .flex_body{
  width: 100%;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* RIGID SLIDES */
.reveal section .rig_header{
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8% 0% 0% 8%;
  height: 12% !important;
  z-index: 100;
}
.reveal section .rig_body{
  text-align: center;
  width: 100%;
  height: 75%;
  padding: 5% 0 0 0%;
}
.reveal section .right_col {
  float: left;
  width: 40%;
  display: block;
  height:inherit;
  text-align: left;
  padding-left: 5% 5% 0 5% !important;
  font-size: 32px;
}
.reveal section .left_col {
  float: left;
  width: 50%;
  height:inherit;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* TITLE SLIDE */
#title{
  margin-bottom: 100px;
}
#author{
  margin-bottom: 70px;
}
#current_papers{
  font-size: 24px;
  color: #187795;
  font-weight: bold;
}
#logobar {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#logobar img{
  margin: 0 10px 0 10px;
  height: 80px;
}
#subtitle_ref{
  position: absolute;
  top: 220px;
  left: 150px;
}
/* ----------------------------------------------------------------------*/
