/*
    lrstyle.css - LR, December 2017

    [primary color theme:
        #d34f21,    (orange, emph)
        #5d9fb0,
        #187795,    (emph blue, CL color)
        #c5d4d7,
        #a42604     (red)
    ]
*/

/* ----------------------------------------------------------------------*/
.slides{
  margin-top: 0 !important;
}

.reveal section{
  width : 1920px !important;
  height: 1080px !important;
  padding: 0% 0% 0% 0% !important;

  margin: 0 !important;

  font-family: "Roboto", sans-serif !important;
}


.reveal .slide-number{
  font-size: 18pt !important;
  color: #555 !important;
  font-weight: bold;
  font-family: 'Roboto';
  height: 30;
  width: 30px;
  line-height: 30px;
  text-align: center;
  /* border: 2pt gray; */
  border: 0pt;
  border-style: dashed;
  border-radius: 5px;
  background: #fff0;
}


/* -------------------------------- */
/* color scheme */
.red{
  color: #a42604;
}
.blue{
  color: #187795;
}
.gray{
  color:#666
}
/* -------------------------------- */

.bold{
  font-weight: bold !important;
}
.italic{
  font-style: italic !important;
}

.roboto{
  font-family: "Roboto", sans-serif !important;
}

.caps{
  text-transform: uppercase;
}/* COLOR SCHEME */
.red{
  color: #a42604;
}
.blue{
  color: #187795;
}
.orange{
  color: #d34f21;
}
.gray{
  color:#666
}

.huuuge{
  font-size: 60pt !important;
}

.huge{
  font-size: 48pt !important;
}

.large{
  font-size: 40pt !important;
}

.s32{
  font-size: 32pt !important;
}

.medium{
  font-size: 24pt;
}

.small{
  font-size: 20pt;
}

.tiny{
  font-size: 16pt;
}

.inverted .emph{
  color: #FE9920;
  font-weight: bold !important;
}

section .label{
  position: absolute;
}

.reveal section p {
  display: block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.reveal section ul li{
  list-style-type: square;
  margin-bottom: 50px !important;
}
.reveal ol li{
  list-style-type: lower-roman;
}
.reveal section img, .reveal section video {
    border: none;
    box-shadow: none;
    background:none;
}

.reveal section .header{
  margin: 0 0 4% 0;
  padding: 6% 0 0 12%;
  width: 85%;
  font-size: 50pt !important;
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.reveal section .two_container{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 28%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.wrapper{
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.hwrapper{
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* refs */
.reveal section .refs{
  margin: 0 !important;
  font-weight: bold !important;
  font-size: 24px !important;
  color: #5d9fb0 !important;
}

.reveal section .refs a:hover{
  color: #d34f21 !important;
}

section .subtitle_ref{
  padding-left: 50px;
}

/* ----------------------------------------------------------------------*/

.reveal section .bullet{
  width: 35px;
  margin: 0 30px 0 -75px !important;
}
.reveal section .smallbullet{
  width: 35px;
  /* margin: 0; */
  margin: 0 0 0 -40px !important;
}

/* .reveal section lr-bullet{
  display: block;
  text-align: left;
  padding: 0 0 0 40px;
  margin-bottom: 30px;
} */

lr-bullet{
  display: block;
  text-align: left;
  padding: 0 0 0 0 !important;
  margin: 0 0 30px 50px;
  position: relative;
}


lr-bullet:before {
  /* content: "\f04b"; */
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: 0;
  margin: 0 15px 0 -50px;
  /* top: 12px; */
  font-size: inherit;
}

lr-bullet.small:before{
  top: 3px;
  margin-left: -30px;
}
lr-bullet.medium:before{
  top: 3px;
  margin-left: -30px;
}

/* -------------------------------------------------------------------------- */
/* SPECIALS */

/* Particles */
.reveal section .particle{
  width: 70px;
  height: 70px;
  padding: 5px;
  margin: 0;
  position: absolute;
  background-image: url('../img/spin.svg');
  background-size: cover;
}

.reveal section .up{
  background-image: url('../img/spin_up.svg');
}
.reveal section .down{
  background-image: url('../img/spin_down.svg');
  transform: rotate(180deg);
}


/* Phase Sketches. */
.reveal section .phasesketch{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 20%;
}

.reveal section .project{
  width: 430px;
  /* float: left; */
  height: 350px;
  background-color: #eeeeee;
  border-radius: 15px;
  /* background-color: #342342; */
  border: dashed;
  border-color: #aaaaaa;
  border-width: 3pt;
  margin: 0 20px 20px 0;
}


.reveal section .project .refs{
  font-size: 22px !important;
}

.reveal section .project_header{
  text-align: left;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24pt;
  margin: 15px 0 20px 25px !important;
}
.reveal section .project img{
  margin: 0 !important;
}

.reveal section .project lr-bullet{
  margin: 0 0 15px 25px;
  width: 320px;
}


.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;
}
.reveal .slides section .fragment.semi-fade-out.visible{
    -webkit-filter: grayscale(1);
}

.reveal .slides section .fragment.highlight{
	opacity: 1;
	visibility: inherit;
}
.reveal .slides section .fragment.highlight.visible{
  color: #d34f21;
  border-color:  #d34f21;;
  background-color: #d34f2133;
}
