
/*
    lrstyle.css - LR, December 2017

    [primary color theme:
        #d34f21,    (orange, emph)
        #5d9fb0,
        #187795,    (emph blue, CL color)
        #c5d4d7,
        #a42604     (red)
    ]
*/

/* ----------------------------------------------------------------------*/
.slides{
  margin-top: 0 !important;
}

.reveal section{
  width : 1364px !important;
  height: 1024px !important;

  /* border-style: dashed; */
  /* border-width: 2px; */

  font-family: "Roboto" !important;
}

/* colors & fonts: regular style*/
.emph {
  color: #a42604;
  font-weight: bold !important;
}
.emph_alt {
  color: #187795;
}
.red{
  color: #a42604;
}
.blue{
  color: #187795;
}
.orange{
  color: #d34f21;
}
.bold{
  font-weight: bold !important;
}
.it{
  font-style: italic !important;
}
.huge{
  font-size: 72px !important;
}
.large{
  font-size: 52px !important;
}
.medium{
  font-size: 36px !important;
}
.eqsize{
  font-size: 32px !important;
}
.small{
  font-size: 28px !important;
}
.tiny{
  font-size: 20px !important;
}
.caps{
    text-transform: uppercase;
}
.dense{
  margin: 0 0 0 0;
}

/* colors & fonts: inverted style */
.inverted {
 color: #ffffff !important;
}

.inverted .emph{
  color: #FE9920;
  font-weight: bold !important;
}
.inverted .emph_alt{
  color: #a42604;
}

.example_slide{
  color: #fff;
}
.example_slide .emph{
  filter: invert(100%);
}


/* positioning */
.ctr_header{
  width: 100%;
  text-align: center !important;
  margin-left: -8% !important;
}
.ctr{
  width: 100%;
  text-align: center !important;
}
section .central{
  position: absolute;
  text-align: center !important;
  width: 100%;
  left: 0;
}
section .label{
  position: absolute;
}
.clr {
  clear: both !important;
}


.reveal section p {
  display: block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.reveal li{
  margin-bottom: 20px;
}
.reveal ul li{
  list-style-type: square;
}
.reveal ol li{
  list-style-type: lower-roman;
}
.reveal section img, .reveal section video {
    border: none;
    box-shadow: none;
    background:none;
}
/* ----------------------------------------------------------------------*/



/* ----------------------------------------------------------------------*/
/* FLEX SLIDE */
.reveal section .flexer{
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}￼

.reveal section .flex_header{
  margin-bottom: 50px;
  width: 100%;
}
.reveal section .flex_body{
  width: 100%;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* RIGID SLIDES */
.reveal section .rig_header{
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8% 0% 0% 8%;
  height: 12% !important;
  z-index: 100;
}
.reveal section .rig_body{
  text-align: center;
  width: 100%;
  height: 75%;
  padding: 3% 0 0 0%;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* title slide */
#title{
  font-family: "Roboto";
  font-weight: 1000;
  font-size: 60px;
  text-align: left;
}

#titlesep{
  position: absolute;
  left: 150px;
  top: 770px;
  width: 1050px;
  height: 2px;
  background-color: #000 !important;
  border-radius: 1cm;
  border: 0;
}

#author{
  position: absolute;
  left: 150px;
  top: 780px;
  font-size: 36px;
  font-weight: bold;
  color: #187795;
}
#author_info{
  position: absolute;
  left: 150px;
  top: 830px;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
  color: #898989;
}
#current_papers{</span>
  font-size: 24px;
  /* color: #187795; */
  /* color: #FE9920; */
  /* font-weight: bold; */
}

#logobar {
  position: absolute;
  top: 900px;
  left: 135px;
  filter: grayscale(100%);
  opacity: 0.8;
  width: 1100px;

  border-radius: 5mm;
  opacity: 1;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#logobar img{
  margin: 0px 10px 10px 0px;
  height: 70px;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* refs */
 .reveal section .refs{
   position: absolute;
   text-align: left;
 }

.reveal section .refs a, .reveal section .refs, .reveal section .ref_style, .reveal section .ref_style a{
  font-size: 20px !important;
  color: #5d9fb0 !important;
  font-weight: bold;
}

.reveal section .refs a:hover, .reveal section .ref_style a:hover{
  color: #d34f21 !important;
}

section .subtitle_ref{
    margin-left: 3%;
}

section .footer_ref{
  top: 950px;
  margin-left: 950px;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* floating picutre box */
.reveal section .fbox{
  float: left;
  margin: 0 20px 0 0;
  width: 300px;
}

.reveal section .fbox p{
  margin: 20px 0 0px 0 !important;
  width: 300px;
  text-align: center;
}
/* ----------------------------------------------------------------------*/


/* ----------------------------------------------------------------------*/
/* plots */
.reveal section .plot{
  position: absolute;
  top: 300px;
  left: 50%;
  width: 750px;
  margin-left: -375px;
}

/* ----------------------------------------------------------------------*/


.reveal section .team{
  display: flex;
  justify-content: center;
}

.reveal section .team div{
  width: 200px;
}
.reveal section .team img{
  width: 150px;
}
