/*
    hirschegg2k18.css - LR, December 2017

    CSS stylesheet for reveal.js framework presentation of Hirschegg 2018.

        #d34f21,    (orange, emph)
    [primary color theme:
        #5d9fb0,
        #187795,    (emph blue, CL color)
        #c5d4d7,
        #`a42604`     (red)
    ]

*/

/* ------ GENERAL SETTINGS ------ */
.reveal section{
  width : 1364px !important;
  height: 1024px !important;

  /*border-style: dashed;
  border-width: 2px;*/
}

.emph {
  color: #d34f21;
}
.emph_blue{
  color: #187795;
}
.emph_red{
  color: #a42604 ;
}
.emph_bold{
  font-weight: bold !important;
}
.emph_it{
  font-style: italic !important;
}
.emph_large{
  font-size: 60px !important;
}

.reveal section p {
  display: block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.reveal li{
  margin-bottom: 20px;
}
.reveal ul li{
  list-style-type: square;
}
.reveal ol li{
  list-style-type: lower-roman;
}
.reveal section img {
    border: 0px;
    box-shadow: none;
}

/* References */
.reveal section .refs{
  font-size: 20px;
  color: #5d9fb0 !important;
  font-weight: bold;
  text-align: left;
}
.reveal section .refs .ref_prep{
  font-style: italic !important;
}
#subtitle_ref{
  position: absolute;
  top: 220px;
  left: 150px;
}

/* Flexible slides, centered vertically */
.reveal section .flexer{
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.reveal section .flex_header{
  margin-bottom: 50px;
  width: 100%;
}
.reveal section .flex_body{
  width: 100%;
}

.reveal section .message{
  color: white;
}
.reveal section .message p{
  margin: 70px 0 70px 0 !important;
}
.reveal section .message .flex_header{
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 40px 0 40px 0;
}


/*Rig id slides */
.reveal section .rig_header{
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8% 0% 0% 8%;
  height: 12% !important;
  z-index: 100;
}
.reveal section .rig_body{
  text-align: center;
  width: 100%;
  height: 75%;
  padding: 5% 0 0 0%;
}
.reveal section .rig_body p{
  margin: 0px 0 100px 0 !important;
}


/* ------ RESULTS ------- */
.reveal section .res_header{
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8% 0% 0% 8%;
  height: 12% !important;
}
.reveal section .res_body{
  text-align: center;
  width: 100%;
  height: 57%;
  padding: 3% 0 0 0%;
}
.reveal section .res_footer{
  width: 100%;
  height: 20% !important;
}

.reveal section .partial_plot{
  position: absolute;
  top: 300px;
  left: 50%;
  width: 750px;
  margin-left: -375px;
}
