/* .reveal section{
  width : 1364px !important;
  height: 1024px !important;
} */

.reveal section .flexer{
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}

.reveal section img {
    border: 0px;
    box-shadow: none;
}

section .question{
  font-weight: bold !important;
  margin-bottom: 100px;
}

section .quote{
  font-style: italic;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
/* 

#mastodon{
  position: absolute;
  top: 400px;
  left: 400px;
} */
