/*
    hirschegg2k18.css - LR, December 2017

    CSS stylesheet for reveal.js framework presentation of Hirschegg 2018.

        #d34f21,    (orange, emph)
    [primary color theme:
        #5d9fb0,
        #187795,    (emph blue, CL color)
        #c5d4d7,
        #a42604     (red)
    ]


*/

/* latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v2/qFdH35WCmI96Ajtm81GrU9vyww.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: local('Overpass Regular'), local('Overpass-Regular'), url(https://fonts.gstatic.com/s/overpass/v2/qFdH35WCmI96Ajtm81GlU9s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* ------ GENERAL SETTINGS ------ */
.reveal section{
  width : 1364px !important;
  height: 1024px !important;
  /*width: 100%;
  height: 100%;*/
  margin-top: -22px;

  border-style: dashed;
  border-width: 2px;
}


.emph {
  color: #d34f21;
}
.emph_alt {
  color: #187795;
}
.bold{
  font-weight: bold !important;
}
.emph_it{
  font-style: italic !important;
}
.emph_large{
  font-size: 60px !important;
}

.light {
  color: #ffffff !important;
}
.light .emph{
  color: #FE9920;
  font-weight: bold !important;
}
.light .emph_alt, .emph_red{
  color: #a42604;
  font-weight: bold !important;
}

section .notes{
  font-size: 36px;
}

section .label{
  font-size: 36px;
  position: absolute;
}
section .label_s{
  font-size: 28px;
  position: absolute;
}
section .label_l{
  font-size: 52px;
  position: absolute;
}
section .central{
  position: absolute;
  width: 100%;
  left: 0;
}



.ctr_header{
  width: 100%;
  text-align: center !important;
  margin-left: -8% !important;
}
.ctr{
  width: 100%;
  text-align: center !important;
}
.clr {
  clear: both !important;
}

.reveal section p {
  display: block;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.reveal li{
  margin-bottom: 20px;
}
.reveal ul li{
  list-style-type: square;
}
.reveal ol li{
  list-style-type: lower-roman;
}
.reveal section img {
    border: 0px;
    box-shadow: none;
}

/* References */
.reveal section .refs{
  font-size: 20px !important;
  color: #5d9fb0 !important;
  font-weight: bold;
  text-align: left;
}
.reveal section .refs .ref_prep{
  font-style: italic !important;
}
section .subtitle_ref{
  position: absolute;
  top: 220px;
  left: 150px;
}
section .footer_refs{
  position: absolute;
  top: 950px;
  left: 900px;
}

/* Flexible slides, centered vertically */
.reveal section .flexer{
  height: 100%;
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.reveal section .flex_header{
  margin-bottom: 50px;
  width: 100%;
}
.reveal section .flex_body{
  width: 100%;
}

/*Rig id slides */
.reveal section .rig_header{
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8% 0% 0% 8%;
  height: 12% !important;
  z-index: 100;
}
.reveal section .rig_body{
  text-align: center;
  width: 100%;
  height: 75%;
  padding: 5% 0 0 0%;
}
.reveal section .right_col {
  float: left;
  width: 40%;
  display: block;
  height:inherit;
  text-align: left;
  padding-left: 5% 5% 0 5% !important;
  font-size: 32px;
}
.reveal section .left_col {
  float: left;
  width: 50%;
  height:inherit;
}


/* ------ RESULTS ------- */
.reveal section .res_header{
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  padding: 8% 0% 0% 8%;
  height: 12% !important;
}
.reveal section .res_body{
  text-align: center;
  width: 100%;
  height: 57%;
  padding: 3% 0 0 0%;
}
.reveal section .res_footer{
  width: 100%;
  height: 20% !important;
}

.reveal section .partial_plot{
  position: absolute;
  top: 300px;
  left: 50%;
  width: 750px;
  margin-left: -375px;
}

.reveal section .cplot{
  position: absolute;
  left: 50%;
  width: 750px;
  margin-left: -375px;
}

/* ------ TITLE ------ */
#title{
  margin-bottom: 100px;
}
#author{
  margin-bottom: 70px;
}
#current_papers{
  font-size: 24px;
  color: #187795;
  font-weight: bold;
}
#logobar {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#logobar img{
  margin: 0 10px 0 10px;
  height: 80px;
}

/* Outline. */
#outline_text{
  font-size: 54px;
}

#refs_fermions{
  position: absolute;
  text-align: center;
  top: 800px;
  left: 0;
  width: 100%;
}


/* MB systems pictures */
.reveal section .mb_sys{
  margin-top: -100px !important;
}
.reveal section .mb_sys_dim{
  margin-top: -50px !important;
}
.reveal section .mb_sys_dim img{
  width: 700px;
}
.reveal section .mb_balanced{
  position: absolute;
  top: 200px;
  left: 200px;
}
.reveal section .mb_label{
  font-size: 60px;
  position: absolute;
  top: 900px;
  left: 800px;
  color: #898989;
  font-weight: bold;
}

/* Model slide */
#model_body{
  margin-top: -50px;
}
#model_body .model_formula{
  font-size: 40px !important;
}
#model_upper_formula{
  margin: 0 0 0 -200px;
}
#model_lower_formula{
  margin: 50px 0 0 -100px;
  padding-left: 400px;
}
#model_graphs{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}
#model_graphs .model_box img{
  width: 500px !important;
  margin: 0px 50px 0 50px;
}
#model_arrow {
  width: 400px;
  position: absolute;
  top: 690px;
  left: 500px;
}
#model_text{
  width: 200px;
  position: absolute;
  font-size: 40px;
  top: 610px;
  left: 600px;
  text-align: center;
}

/* Methods */
#methods_label{1
  position: absolute;
  font-size: 24px;
  top: 850px;
  left: 1000px;
}

/* MC section */
#method_path_integral{
  margin-top: 100px;
  margin-bottom: 100px;
}
#mc_dice img{
  margin-top: 0;
  height: 400px;
}
.reveal section .dice_quote_mc{
  width: 100%;
  text-align: center;
  font-size: 90px !important;
  font-weight: bold !important;
  margin-left: -8%;
}
.reveal section .dice_quote_mc .low{
  display: block;
  margin-left: 0 !important;
}
#algorithm{
  height: 72%;
  margin-top: 5%;
}
#algorithm_obs {
  font-size: 50px;
  margin: -40px 0 80px -80px !important;
}
#algorithm_avg{
  margin-top: 80px !important;
}

#hmc_right_col {
  float: left;
  width: 30%;
  display: block;
  height:inherit;
  text-align: left;
  padding-left: 5% 5% 0 5% !important;
  font-size: 32px;
}
#hmc_left_col {
  float: left;
  width: 800px;
  height:inherit;
}

#hmc_markov_label{
  position: absolute;
  top: 900px;
  left: 50px;
}
#hmc_markov_label p {
  margin: 0 !important;
  font-size: 28px;
  width: 700px;
  text-align: center;

}

/* uncertainties slide */
#uncertainty_header {
    color: #187795;
}
#uncertainty_formula {
  margin: -40px 0 0 0 !important;
}
#mc_illustration {
  margin-top: 100px;
  font-family: humor sans;
}
#mc_illustration #mc_example_text{
  text-align: left;
  padding-left: 10%;
  margin-bottom: -30px;
  font-size: 50px;
  font-family: humor sans;
}
#mc_illustration .mc_example{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}
#mc_illustration .mc_bottom{
  float: left;
  width: 350px;
  font-size: 50px;
  margin: 0 30px 0 30px;
}
#mc_illustration .mc_bottom .mc_small_die{
  width: 45px;
  height: 45px;
  display: inline-block;
  margin: 0;
  margin-bottom: -15px;
}

/* sign slide */
#sign_subtitle{
  margin-top: -20px;
}
#sign_formula{
  position: absolute !important;
  top:  750px !important;
  left: 320px !important;
}
#sign_circle{
  position: absolute !important;
  top:  615px !important;
  left: 510px !important;
  height: 280px;
}
#sign_conditions_text{
  color: #a42604;
  position: absolute !important;
  top:  630px !important;
  left: 940px !important;
}
#sign_conditions{
  text-align: center !important;
  color: #a42604;
  font-size: 40px;
  position: absolute !important;
  top:  740px !important;
  left: 1030px !important;
}
#sign_conditions p{
  display: inline;
}
#refs_sign{
  position: absolute;
  text-align: center;
  top: 620px;
  left: 200px;
  font-size: 24px;
}

#big_dice img{
  height: 450px;
}

/* CL overview.*/
#langevin_formula {
  margin: 80px 0 80px 0 !important;
}
#cl_action{
  font-size: 36px;
  margin-top: 20px;
}
#refs_cl{
  position: absolute;
  top: 900px;
  left: 0;
  width: 100%;
  text-align: center;
}
#cl_left_col{
  float: left;
  width: 55%;
  height:inherit;
}
#cl_right_col{
  float: left;
  width: 40$;
}
#cl_right_col p{
  text-align: center;
  font-size: 28px;
  width: 100%;
}
#cl_left_col img{
  margin-top: -100px;
  height: 600px;
}
#cl_problem{
  position: absolute;
  top: 800px;
  left: 0px;
  width: 100%;
  text-align: center;
}
#cl_header{
  font-size: 40px !important;
  margin-bottom: 70px !important;
  margin-top: -50px !important;
}
#cl_second{
  margin-bottom: 100px;
}

.reveal section .dims_label{
  position: absolute;
  font-size: 42px;
}
#D1_benchmark_label{
  width: 600px;
  top: 350px;
  left: 700px;
}
#D1_physics_label{
  width: 100%;
  top: 850px;
  left: 0;
  text-align: center;
}
#refs_1D_exp{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 920px;
  left:0;
}

/* --- results ---*/

/* Balanced comparison */
#balanced_compare_refs{
  position: absolute;
  top: 900px;
  left: 800px;
}
#hist_rep{
  position: absolute;
  top: 200px;
  left: 850px;
  background-color: #ffffff;
}
#hist_rep img{
  height: 350px;
}
#hist_att{
  position: absolute;
  top: 450px;
  left: 50px;
  background-color: #ffffff;
}
#hist_att img{
  height: 350px;
}
#hist_label_rep{
  width: 400px;
  text-align: center;
  padding-left: 50px;
  margin-top: -50px;
}
#hist_label_att{
  width: 400px;
  text-align: center;
  padding-left: 50px;
}



section .roadsign{
  font-size: 32px;
  padding-top: 20px;
  height: 58px;
  width: 300px;
  color: white;
  font-family: 'Overpass';
  background-size: 100%;
  position: absolute;
}

section .ve_label{
  position: absolute;
  top: 830px;
  font-size: 50px;
}

/* Recap */
#recap{
  font-size: 54px;
}
#recap_header{
  padding-top: 70px;
  margin-bottom: -30px !important;
}
#recap p {
  margin: 70px 0 70px 0 !important;
}
